{% extends 'base.html' %}

{% block conteudo %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Projetos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://flask.palletsprojects.com/en/2.3.x/_images/flask-horizontal.png" class="card-img-top" alt="s">
        <div class="card-body">
          <h5 class="card-title">Introdução ao Flask</h5>
          <p class="card-text">Neste projeto, fiz um BLOG como ferramenta de estudo utilizando python e flask...</p>

          <a href= " {% if session['email'] %}
             {{ url_for('projeto1') }}
            {% else %}
             {{ url_for('login') }} 
            {% endif %} 
            " class="btn btn-primary" id="lerMaisProjeto1">Ler Mais</a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Projeto 2 - Similar à estrutura do projeto 1 -->
    </div>
    <div class="col-md-4">
      <!-- Projeto 3 - Similar à estrutura do projeto 1 -->
    </div>
  </div>
</div>

<script>
  // Simulação de login bem-sucedido
  const session = {
    'email': 'usuario@example.com' // Simulação de sessão de usuário
  };
</script>

</body>
</html>

{% endblock %}